@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.bg-lightblue {
  background-color: lightblue;
}

.third-col {
  height: calc(100% - 4rem);
  overflow-y: auto;
}

.categories-list {
  height: calc(100% - 3rem);
}

button:hover {
  cursor: pointer;
}

.brand-bg-success {
  background-color: #0ac5b2;
}

.brand-bg-error {
  background-color: #fd2a36d4;
}